<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Book</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LibraryApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/feature.html">Feature</a></li>
      <li class="active"><a href="book/addBook">Add Book</a></li>
    </ul>
  </div>
</nav>

    <div class="container">
        <br>
        <h1 style="color:black">Enter New Book</h1>
        <form action="#" th:action="@{/book/newBook}" th:object="${book}" th:method="post">
        	<input type="hidden" th:field="*{id}" />
                           
           	<div class="form-group">
             	<input type="text" class="form-control" placeholder="Title..." th:field="*{title}" />
            </div>
            <div class="form-group">
              	<input type="text" class="form-control" placeholder="Author..." th:field="*{author}" />
            </div>
                            
        	<button class="btn btn-primary">Create Book</button>
        </form>	
       <!--  <a class= "btn btn-primary" th:href="@{/}">Back</a> -->
    </div> 
  
</body>
</html>